<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sampleshop20240425093959.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0f1e6696-6f2e-4491-9819-87334a51ce01/resourcegroups/alacedro-sampleshop-azute-test/providers/Microsoft.Web/sites/SampleShop20240425093959</ResourceId>
    <UserName>$SampleShop20240425093959</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sampleshop20240425093959.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>